.btn {
  color: pink;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0;
}
.btn:hover {
  color: pink;
  border-bottom: 3px solid rgb(224, 239, 199);
  padding: 10px;
  border-radius: 50px white;
}
.container {
  width: 100%;
}
