#navbar,
#logo2,
#carello {
  color: pink;
}
#navbar {
  display: flex;
}
i {
  font-size: 25px;
}
a {
  font-size: 25px;
}
#cerca {
  font-size: 15px;
  padding: 5px 20px;
  color: white;
}
button {
  background-color: pink;
  border: none;
  margin-left: 10px;
  padding: 3px;
}
input {
  border-color: pink;
  padding: 5px 10px;
}
.lineaPersonalizzata {
  margin: 10px 0;
  border: 2px solid;
  border-color: rgb(224, 239, 199);
}
