<section id="products-section">
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="mx-auto text-center mb-5">
        <h1 class="mb-0">I nostri prodotti disponibili!</h1>
        <p>Scopri la nostra selezione di prodotti eccitanti e intraprendi viaggi indimenticabili.</p>
      </div>
      {{prodotti.length}}
      <div class="row" *ngIf="prodotti && prodotti.length">

        <ng-container *ngFor="let prodotto of prodotti">
          <div class="col-lg-4 col-md-6 col-sm-12 my-4">
            <div class="product-item">
              <div class="product-img">
                <img *ngIf="prodotto.immagini && prodotto.immagini.length > 0" [src]="prodotto.immagini[0]"
                  class="img-fluid w-100 rounded-top" alt="Image">
                <div class="product-info d-flex border border-start-0 border-end-0 position-absolute">
                  <small class="flex-fill text-center py-2"><i class="fa fa-tag me-2"></i>{{ prodotto.prezzo }}€</small>
                </div>
              </div>
              <div class="product-content bg-light">
                <div class="p-4 pb-0">
                  <h5 class="mb-0">{{ prodotto.name }}</h5>
                  <p class="mb-4">{{ prodotto.descrizione }}</p>
                  <button class="btn btn-danger" (click)="eliminaProdotto(prodotto.id)">Elimina</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>