<div class="container-box ">
  <div class="bianco">
    <h1 class="text-center ">Benvenuti Pink-Lovers</h1>
  </div>
  <div class="container">

    <div id="carouselExample" class="carousel slide mt-5">
      <div class="carousel-inner">
        <div class="carousel-item active mt-5">
          <img src="../../../assets/Beauty-Of-Joseon-kbeauty.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item mt-5">
          <img src="../../../assets/beauty-corea-milano-negozio-korean-beauty-miin-cosmetics-.jpg" class="d-block w-100"
            alt="...">
        </div>
        <div class="carousel-item mt-5 ">
          <img src="../../../assets/migliori-detergenti-viso-coreani-brtc-tea-bag1.jpg" class="d-block w-100"
            style="higth:60px" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div id="white">
      <h2 id="sottotitolo" class="text-center mt-5 "> PinK-Philosophy</h2>
    </div>
    <div class="row d-flex justify-content-between ">



      <div class="col-5">
        <h4>La cosmetica coreana va al di là del semplice utillizzo di prodotti di bellezza: è uno stile di vita, un
          rituale,
          una vera e propria filosofia che ha conquistato il mondo occidentale perchè sorprende e affescina.
          Per i coreani, bellezza significa prendersi cura di sè e sentirsi bene nel farlo.
          Grazie a PinK-Beauty potrete acquistare i prodotti più adatti per la cura della vostra pelle, imparando a
          dedicare
          a voi stesse, qualche minuto ogni giorno per stare meglio anche
          insieme agli altri </h4>
      </div>
      <div class="col-5 ">
        <img id="img1" class="mb-2" src="../../../assets/10-step-beauty-routine-coreana-bio.png" alt="">
      </div>
    </div>
  </div>
</div>